header {
    text-decoration: underline;
    text-shadow: 2px 2px gray;
    height: 20%;
    background-color: brown;
    font-size: 200%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    
}

body {

    background-image: url('imagens/ded capa.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

main {
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}



.box {
    background-color: azure;
    border-style: groove;
    border-color: black;
    padding: 5px;
    justify-content: center;
    margin: 2;
    
}

.flex {
    display: flex;

    padding: 0%;
    flex-wrap: wrap;

}

.status {

    margin: 5px;

}


.link {
    color: black;
    font-size:larger;
    

}

.status {
    width: 60%;
}

