header {
    height: 15%;
    width: 100%;
    background-color: brown;

}

.tittle_headder {
    text-decoration: underline;
    text-shadow: 2px 2px gray;

    font-size: 200%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    text-align: center;

}

.sec_header {
    display: flex;
    
}

body {


    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0%;

}

footer {
    background-color: brown;
    padding-left: 5%;
}


.index {
    background-image: url('../assets/images/home.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.ficha {
    background-image: url('../assets/images/background_ficha.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 2%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.livros {
    background-image: url('../assets/images/backgorund_livros.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.magias {
    background-image: url('../assets/images/backgorund_magias.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}

main {
    padding: 2%;
}


.box {
    background-color: azure;
    border-style: groove;
    border-color: black;
    padding: 5px;
    justify-content: center;
    margin: 2;
    

}

.box_inicial {
    background-color: rgb(52, 141, 92);
    border-radius: 20px;
    padding: 5px;
    opacity: 0.7;
    width: 500px;
    color: rgb(105, 7, 27);
    font-size:larger;
}

.flex {
    display: flex;
    padding: 0%;
    flex-wrap: wrap;

}

.status {

    margin: 5px;

}


.link {
    color: black;
    font-size: larger;


}

.status {
    width: 60%;
}

.tamanho {
    width: 22.9%;
}

.livro {
    width: 100%;
    height: 40%;
}

.box_livro {
    background-color: azure;
    border-style: groove;
    border-color: black;
    margin: 2;
    text-align: center;
    padding: 2;

}

.botoes_magias {
    display: flex;
    justify-content: space-around;
}

.navmagias {
    color: black;
    text-decoration: none;
}

.texto {
    width: 22%;
    margin: 1%;
    text-align: justify;
    border-style: dotted;
    padding: 3px;
    border-color: blueviolet;
}

.box_magias {
    background-color: azure;
    border-style: groove;
    border-color: black;
    padding: 5px;
    justify-content: center;
    margin: 2px;
    padding: 2px;

}

.linkpaginas{
    color: black;
    text-decoration: none;
    
}
.box_links{
    background-color: rgb(138, 35, 35);
    width: 5%;
    text-align: center;
}
.box_links.active {
 background-color: blue;
}
